<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
    <title>ILF CONSULTING</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="{{ asset('assets/front/images/Logo-ilf1.png') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/animations.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/main.css') }}" class="color-switcher-link">
        <script src="{{ asset('assets/front/js/vendor/modernizr-2.6.2.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('assets/front/newbloc/vendors/linericon/style.css') }}">

    <!--[if lt IE 9]>
        <script src="{{ asset('assets/front/js/vendor/html5shiv.min.js') }}"></script>
        <script src="{{ asset('assets/front/js/vendor/respond.min.js') }}"></script>
        <script src="{{ asset('assets/front/js/vendor/jquery-1.12.4.min.js') }}"></script>
        <![endif]-->

    </head>

    <body>
    <!--[if lt IE 9]>
        <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
        <![endif]-->

        <div class="preloader">
            <div class="preloader_image"></div>
        </div>

        <!-- search modal -->
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="widget widget_search">
                <form method="get" class="searchform search-form" action="http://webdesign-finder.com/">
                    <div class="form-group">
                        <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
                    </div>
                    <button type="submit" class="btn">Search</button>
                </form>
            </div>
        </div>

        <!-- Unyson messages modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
            <div class="fw-messages-wrap ls p-normal">
                <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
            <!--
        <ul class="list-unstyled">
            <li>Message To User</li>
        </ul>
    -->

</div>
</div>
<!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        <!--eof topline-->

        <section class="page_toplogo  ls  text-center">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="d-lg-flex align-items-lg-center">
                         <!--        <span class="social-icons top">
                                    <a href="#" class="fa fa-viadeo" title="viadeo"></a>
                                </span> -->
                            </div>
                        </div>
                        <div class="col-lg-4 text-center">
                            <div class="text-center">
                                <div class="header_logo_center">
                                    <img width="150px" height="100px" src="{{ asset('assets/front/images/logoupe.png') }}" alt="ilf-consulting">

                                </div>
                                
                            <!-- <div   class="col-md-7 col-md-offset-5">
                           <a cclass="fa fa-linkedin  color-icon bg-icon rounded-icon pull-right"  title="linkedin"></a>
                       </div> -->
                   </div>
               </div>

               <div class="col-lg-4">
                <div class="d-lg-flex align-items-lg-center">
                                {# <span class="social-icons top">
                                    <a href="https://www.linkedin.com/company/ilfconsulting-fr" target="_blank" class="fa fa-linkedin " title="linkedin"></a>
                                </span>
                                #}                        </div>
                            </div>

                            
                        </div>
                    </div>
                    
                </section>
                <header class="page_header ls s-bordertop nav-narrow justify-nav-center text-center">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-12">

                                <div class="nav-wrap">
                                    <!-- main nav start -->
                                    <nav class="top-nav">
                                        <ul class="nav sf-menu">
                                            <li>
                                                <a href="{{ path('front.index',{'languageUser' : languageUser }) }}">Accueil</a>
                                            </li>    


                                            <li>
                                                <a href="">Le Groupe</a>
                                                <ul>
                                                    <li><a href="{{ path('front.qui.somme.nous',{'languageUser' : languageUser }) }}">Qui somme-nous?</a></li>
                                                    <li><a href="{{ path('front.filiale',{'languageUser' : languageUser }) }}">Nos filiales</a> </li>
                                                </ul>    
                                            </li>

                                            <li> <a href="{{ path('front.services',{'languageUser' : languageUser }) }}">Nos Services</a></li>

                                            <li>
                                                <a href="https://www.talentlif.com/"><span>Talent <span>l<span>i<span>f</span></span></span></span></a>

                                            </li>


                                            <li> <a href="{{ path('front.partenaires',{'languageUser' : languageUser }) }}">Nos Partenariats</a> </li>
                                            <!-- eof features -->

                                            <li>   
                                                <!-- contacts -->
                                                <a href="{{ path('front.contact') }}">Contact</a>
                                            </li>                                        
                                            <!-- eof contacts -->


                                        </ul>


                                    </nav>
                                    <!-- eof main nav -->


                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- header toggler -->

                    <span class="toggle_menu">
                        <span></span>
                    </span>

                </header>
                {% block content %}{% endblock %}

                    <footer class="page_footer ds s-py-sm-20 s-pt-md-75 s-pb-md-50 s-py-lg-130 c-gutter-60 pb-20 half-section">
                        <div class="container no-padding">
                            <div class="row">
                                <div class="col-md-4 animate animated fadeInUp" data-animation="fadeInUp">
                                    <div class="widget widget_categories">
                                        <h3 class="widget-title">Accés Rapide</h3>
                                        <ul>
                                            <li class="cat-item">
                                                <a href="blog-right.html">Le groupe</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="blog-right.html">Nos Services</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="blog-right.html">Talent LIF</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="blog-right.html">Nos partenariats</a>
                                            </li>
                                            <li class="cat-item">
                                                <a href="blog-right.html">Contact</a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer  col-md-4 animate" data-animation="fadeInUp" >
                                    <div class="author-social" style="margin-top:120px;    margin-left: 25%;">
                                        <a href="#" class="fa fa-facebook color-bg-icon rounded-icon"></a>
                                        <a href="#" class="fa fa-twitter color-bg-icon rounded-icon"></a>
                                        <a href="https://www.linkedin.com/company/ilfconsulting-fr" class="fa fa-linkedin color-bg-icon rounded-icon"></a>
                                    </div>

                                </div>
                                <div class="footer col-md-4  animate" data-animation="fadeInUp">
                                    <div class="text-center">
                                        <div class="header_logo_center footer-logo-ds">
                                            <a href="#" class="logo">
                                                <img src="{{ asset('assets/front/images/logoup.png') }}" alt=""><br>
                                            </a>
                                        </div>
                                        <!-- eof .header_left_logo -->
                                    </div>
                                    {#                        <div class="widget pt-20">#}
                                    {#                            Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.#}
                                    {#                        </div>#}
                                    <div class="widget text-center">
                                        {#<div class="media">#}
                                        {#<i class="mx-10 color-main fa fa-map-marker"></i>#}
                                        {#4518 Spirit Drive, Deland, FL 32720#}
                                        {#</div>#}
                                        <div class="media" >
                                            <i class="mx-10 color-main fa fa-phone"></i>
                                            01 43 32 93 41
                                        </div>

                                        <div class="media text-center link  ">
                                            <i class="mx-10 text-center color-main fa fa-envelope"></i>
                                            <a href="#">contact@ilfconsulting.fr</a>
                                        </div>
                                        <div class="media">
<!--                                 <div class="pull-left" style="margin-left:20;">
-->                                
<!--                             </div>
-->                            </div>
</div>

</div>
<div class="author-social">
 {#<a href="#" class="fa fa-twitter color-bg-icon rounded-icon"></a>#}
 {#<a href="#" class="fa fa-google color-bg-icon rounded-icon"></a>#}
</div>
</div>
</div>
</div>
</footer>

<section class="page_copyright ds s-py-30 ">
    <div class="container no-padding">
        <div class="row align-items-center">
            {#                    <div class="divider-20 d-none d-lg-block"></div>#}
            <div class="col-md-12 text-center">
                <p>&copy; Copyright
                    <span class="copyright_year">2020</span> All Rights Reserved</p>
                </div>
                {#                    <div class="divider-20 d-none d-lg-block"></div>#}
            </div>
        </div>
    </section>
</div>
<!-- eof #box_wrapper -->
</div>
<!-- eof #canvas -->
<script src="{{ asset('assets/front/js/compressed.js') }}"></script>
<script src="{{ asset('assets/front/js/main.js') }}"></script>
<script src="{{ asset('assets/front/js/switcher.js') }}"></script>
{#  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script>#}
<!-- Google Map Script -->
</body>
</html>