<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
	<title>ILF CONSULTING></title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="{{ asset('assets/front/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/front/css/animations.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/front/css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/front/css/main.css') }}" class="color-switcher-link">
	<script src="{{ asset('assets/front/js/vendor/modernizr-2.6.2.min.js') }}"></script>

	<!--[if lt IE 9]>
		<script src="{{ asset('assets/front/js/vendor/html5shiv.min.js') }}"></script>
		<script src="{{ asset('assets/front/js/vendor/respond.min.js') }}"></script>
		<script src="{{ asset('assets/front/js/vendor/jquery-1.12.4.min.js') }}"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="http://webdesign-finder.com/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div>
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<!--eof topline-->
            
			<section class="page_toplogo gradientvertical-background ls s-py-15 text-center">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-4">
							<div class="d-lg-flex justify-content-lg-end align-items-lg-center">
								<span class="social-icons top">

									<a href="#" class="fa fa-facebook " title="facebook"></a>
									<a href="#" class="fa fa-twitter " title="twitter"></a>
									<a href="#" class="fa fa-google " title="google"></a>
									<a href="#" class="fa fa-linkedin " title="linkedin"></a>
									<a href="#" class="fa fa-pinterest-p " title="linkedin"></a>
								</span>
							</div>
						</div>
						<div class="col-lg-4 text-center">
							<div class="text-center">
								<div class="header_logo_center">
									<a href="#" class="logo">
										<span class="logo_text">CONSU</span>
										<img src="https://www.ilf.com/wp-content/themes/jd-bootpress/custom/styles/default/images/ilf-logo.svg" alt="">
										<span class="logo_subtext">LTING</span>
									</a>
								</div>
								<!-- eof .header_left_logo -->
							</div>
						</div>
						<div class="col-lg-4">
							<button class="btn-outline-darkgrey  d-none d-lg-block">Looking for Staff?</button>
						</div>
					</div>
				</div>
				<!-- header with single Bootstrap column only for navigation and includes. Used with topline and toplogo sections. Menu toggler must be in toplogo section -->
			<header class="page_header  s-bordertop nav-narrow justify-nav-center text-center">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-xl-12">

							<div class="nav-wrap">
								<!-- main nav start -->
								<nav class="top-nav">
									<ul class="nav sf-menu">


										<li class="active">
											<a href="{{ asset('assets/front/index-2.html') }}">Homepage</a>
											<ul>
												<li>
													<a href="{{ asset('assets/front/index-2.html') }}">Homepage</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/index_static.html') }}">Static Page</a>

												</li>
												<li>
													<a href="{{ asset('assets/front/index_singlepage.html') }}">Single Page</a>
												</li>
											</ul>
										</li>


										<li>
											<a href="{{ asset('assets/front/about.html') }}">Pages</a>
											<ul>
												<li>
													<a href="{{ asset('assets/front/faq.html') }}">FAQ</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/team.html') }}">Team</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/team-single.html') }}">Team Member</a>
														</li>
													</ul>
												</li>

												<li>
													<a href="{{ asset('assets/front/shop.html') }}">Shop</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/shop.html') }}">Shop</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shop-product.html') }}">Single Product</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shop-cart.html') }}


															">Shop Cart</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shop-checkout.html') }}


															">Shop Checkout</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shop-order-received.html') }}


															">Order Received</a>
														</li>

													</ul>
												</li>

												<li>
													<a href="{{ asset('assets/front/services.html') }}


													">Services</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/services.html') }}


															">Services 1</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/services2.html') }}


															">Services 2</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/services3.html') }}


															">Services 3</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/service-single.html') }}


															">Single Service</a>
														</li>
													</ul>
												</li>

												<!-- shop -->

												<!-- features -->
												<li>
													<a href="{{ asset('assets/front/shortcodes_iconbox.html') }}


													">Shortcodes</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/shortcodes_typography.html') }}


															">Typography</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_buttons.html') }}


															">Buttons</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_iconbox.html') }}


															">Icon Boxes</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_progress.html') }}


															">Progress</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_tabs.html') }}


															">Tabs &amp; Collapse</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_bootstrap.html') }}


															">Bootstrap Elements</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_animation.html') }}


															">Animation</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_icons.html') }}


															">Template Icons</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/shortcodes_socialicons.html') }}


															">Social Icons</a>
														</li>
													</ul>
												</li>
												<!-- eof shortcodes -->

												<!-- events -->
												<li>
													<a href="{{ asset('assets/front/events-left.html') }}


													">Events</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/events-left.html') }}


															">Left Sidebar</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/events-right.html') }}


															">Right Sidebar</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/events-full.html') }}


															">Full Width</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/event-single-left.html') }}


															">Single Event</a>
															<ul>
																<li>
																	<a href="{{ asset('assets/front/event-single-left.html') }}


																	">Left Sidebar</a>
																</li>
																<li>
																	<a href="{{ asset('assets/front/event-single-right.html') }}


																	">Right Sidebar</a>
																</li>
																<li>
																	<a href="{{ asset('assets/front/event-single-full.html') }}


																	">Full Width</a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
												<!-- eof events -->

												<li>
													<a href="{{ asset('assets/front/comingsoon.html') }}


													">Comingsoon</a>
												</li>

												<li>
													<a href="{{ asset('assets/front/404.html') }}


													">404</a>
												</li>

											</ul>
										</li>
										<!-- eof pages -->

										<li>
											<a href="{{ asset('assets/front/about.html') }}


											">About</a>
										</li>

										<li>
											<a href="{{ asset('assets/front/emloyers.html') }}


											">Emloyers</a>

										</li>

										<li>
											<a href="{{ asset('assets/front/candidates.html') }}


											">Candidates</a>

										</li>

										<!-- blog -->
										<li>
											<a href="{{ asset('assets/front/blog-left.html') }}


											">Blog</a>
											<ul>

												<li>
													<a href="{{ asset('assets/front/blog-right.html') }}


													">Right Sidebar</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/blog-left.html') }}


													">Left Sidebar</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/blog-full.html') }}


													">No Sidebar</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/blog-single-right.html') }}


													">Post</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/blog-single-right.html') }}


															">Right Sidebar</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/blog-single-left.html') }}


															">Left Sidebar</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/blog-single-full.html') }}


															">No Sidebar</a>
														</li>
													</ul>
												</li>

												<li>
													<a href="{{ asset('assets/front/blog-single-video-right.html') }}


													">Video Post</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/blog-single-video-right.html') }}


															">Right Sidebar</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/blog-single-video-left.html') }}


															">Left Sidebar</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/blog-single-video-full.html') }}


															">No Sidebar</a>
														</li>
													</ul>
												</li>

											</ul>
										</li>
										<!-- eof blog -->

										<li>
											<a href="#">Features</a>
											<div class="mega-menu">
												<ul class="mega-menu-row">
													<li class="mega-menu-col">
														<a href="#">Headers</a>
														<ul>
															<li>
																<a href="{{ asset('assets/front/header1.html') }}


																">Header Type 1</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header2.html') }}


																">Header Type 2</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header3.html') }}


																">Header Type 3</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header4.html') }}


																">Header Type 4</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header5.html') }}


																">Header Type 5</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header6.html') }}


																">Header Type 6</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="#">Side Menus</a>
														<ul>
															<li>
																<a href="{{ asset('assets/front/header-side.html') }}


																">Push Left</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header-side-right.html') }}


																">Push Right</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header-side-slide.html') }}


																">Slide Left</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header-side-slide-right.html') }}


																">Slide Right</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header-side-sticked.html') }}


																">Sticked Left</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/header-side-sticked-right.html') }}


																">Sticked Right</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="{{ asset('assets/front/title1.html') }}


														">Title Sections</a>
														<ul>
															<li>
																<a href="{{ asset('assets/front/title1.html') }}


																">Title section 1</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/title2.html') }}


																">Title section 2</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/title3.html') }}


																">Title section 3</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/title4.html') }}


																">Title section 4</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/title5.html') }}


																">Title section 5</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/title6.html') }}


																">Title section 6</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="{{ asset('assets/front/footer1.html') }}


														">Footers</a>
														<ul>
															<li>
																<a href="{{ asset('assets/front/footer1.html') }}


																">Footer Type 1</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/footer2.html') }}


																">Footer Type 2</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/footer3.html') }}


																">Footer Type 3</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/footer4.html') }}


																">Footer Type 4</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/footer5.html') }}


																">Footer Type 5</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/footer6.html') }}


																">Footer Type 6</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="{{ asset('assets/front/copyright1.html') }}


														">Copyright</a>

														<ul>
															<li>
																<a href="{{ asset('assets/front/copyright1.html') }}


																">Copyright 1</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/copyright2.html') }}


																">Copyright 2</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/copyright3.html') }}


																">Copyright 3</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/copyright4.html') }}


																">Copyright 4</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/copyright5.html') }}


																">Copyright 5</a>
															</li>
															<li>
																<a href="{{ asset('assets/front/copyright6.html') }}


																">Copyright 6</a>
															</li>
														</ul>
													</li>

												</ul>
											</div>
										</li>
										<!-- eof features -->


										<!-- gallery -->
										<li>
											<a href="{{ asset('assets/front/gallery-regular.html') }}


											">Gallery</a>
											<ul>

												<li>
													<a href="{{ asset('assets/front/gallery-regular.html') }}


													">Gallery Regular</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/gallery-regular-2-cols.html') }}


															">2 columns</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/gallery-regular-3-cols.html') }}


															">3 columns</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/gallery-regular-4-cols-fullwidth.html') }}


															">4 columns fullwidth</a>
														</li>

													</ul>
												</li>


												<li>
													<a href="{{ asset('assets/front/gallery-excerpt.html') }}


													">Gallery Extended</a>
													<ul>
														<li>
															<a href="{{ asset('assets/front/gallery-excerpt-2-cols.html') }}


															">2 columns</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/gallery-excerpt-3-cols.html') }}


															">3 column</a>
														</li>
														<li>
															<a href="{{ asset('assets/front/gallery-excerpt-4-cols-fullwidth.html') }}


															">4 columns fullwdith</a>
														</li>
													</ul>
												</li>


												<li>
													<a href="{{ asset('assets/front/gallery-tiled.html') }}


													">Tiled Gallery</a>
												</li>


												<li>
													<a href="{{ asset('assets/front/gallery-single.html') }}


													">Gallery Item</a>
												</li>

											</ul>
										</li>
										<!-- eof Gallery -->


										<!-- contacts -->
										<li>
											<a href="{{ asset('assets/front/contact.html') }}


											">Contacts</a>
											<ul>
												<li>
													<a href="{{ asset('assets/front/contact.html') }}


													">Contact 1</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/contact2.html') }}


													">Contact 2</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/contact3.html') }}


													">Contact 3</a>
												</li>
												<li>
													<a href="{{ asset('assets/front/contact4.html') }}


													">Contact 4</a>
												</li>
											</ul>
										</li>
										<!-- eof contacts -->


									</ul>


								</nav>
								<!-- eof main nav -->


							</div>

						</div>
					</div>
				</div>

				<!-- header toggler -->

				<span class="toggle_menu">
					<span></span>
				</span>

			</header>

			</section>

            {% block content %}{% endblock %}

			<footer class="page_footer ds s-py-sm-20 s-pt-md-75 s-pb-md-50 s-py-lg-130 c-gutter-60 pb-20 half-section">
				<div class="container">
					<div class="row">
						<div class="footer col-md-4 text-center animate" data-animation="fadeInUp">
							<div class="footer widget text-center">
								<h3 class="widget-title title-menu">Explore</h3>
								<ul class="footer-menu">
									<li>
										<a href="#">Job Search</a>
									</li>
									<li class="menu1">
										<a>Consultants</a>
									</li>
									<li>
										<a href="#">Reviews</a>
									</li>
									<li class="menu1">
										<a>Insights</a>
									</li>
									<li>
										<a href="#">Survey</a>
									</li>
									<li class="menu1">
										<a>Careers</a>
									</li>
									<li class="border-bottom-0">
										<a href="#">Contact</a>
									</li>
									<li class="menu1 border-bottom-0">
										<a>About</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="footer  col-md-4 text-center animate" data-animation="fadeInUp">
							<div class="text-center">
								<div class="header_logo_center footer-logo-ds">
									<a href="#


									" class="logo">
										<span class="logo_text">Invenir</span>
										<img src="{{ asset('assets/front/images/logo.png') }}" alt="">
										<span class="logo_subtext">Consult</span>
									</a>
								</div>
								<!-- eof .header_left_logo -->
							</div>
							<div class="widget pt-20">
								Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.
							</div>
							<div class="widget">
								<div class="media">
									<i class="mx-10 color-main fa fa-map-marker"></i>
									4518 Spirit Drive, Deland, FL 32720
								</div>

								<div class="media">
									<i class="mx-10 color-main fa fa-phone"></i>
									101 123 456 789
								</div>

								<div class="media text-center link">
									<i class="mx-10 text-center color-main fa fa-envelope"></i>
									<a href="#">example@example.com</a>
								</div>
							</div>

							<div class="author-social">
								<a href="#" class="fa fa-facebook color-bg-icon rounded-icon"></a>
								<a href="#" class="fa fa-twitter color-bg-icon rounded-icon"></a>
								<a href="#" class="fa fa-google color-bg-icon rounded-icon"></a>
							</div>
						</div>
						<div class="footer col-md-4 text-center animate" data-animation="fadeInUp">
							<div class="widget widget_mailchimp">

								<h3 class="widget-title">Newsletter</h3>

								<p>
									Enter your email address here always to be updated. We promise not to spam!
								</p>

								<form class="signup">
									<label for="mailchimp_email">
										<span class="screen-reader-text">Subscribe:</span>
									</label>

									<input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email Address">

									<button type="submit" class="search-submit">Subscribe</button>

								</form>

							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="page_copyright ds s-py-30 ">
				<div class="container">
					<div class="row align-items-center">
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="col-md-12 text-center">
							<p>&copy; Copyright
								<span class="copyright_year">2018</span> All Rights Reserved</p>
						</div>
						<div class="divider-20 d-none d-lg-block"></div>
					</div>
				</div>
			</section>


		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->


	
     {% block javascript %}{% endblock %}  
	<!-- Google Map Script -->

</body>


</html>