            {% extends 'Front/base.twig' %}
            {% block content %}
                <section class="page_slider">
                    <div class=" flexslider" data-nav="true" data-dots="false">
                        <ul class="slides">
                            <li class="ds text-center">
                                <a style="text-decoration:none !important;" href="https://www.talentlif.com/"><img src="{{ asset('assets/front/images/slide01.jpg') }}" alt=""></a>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a style="text-decoration:none !important;" href="https://www.talentlif.com/">
                                                <div class="intro_layers_wrapper">
                                                    <div class="intro_layers">
                                                        <div class="intro_layer" data-animation="fadeInLeft">

                                                            <a href="#"><img style="width: 120px;  height: 100px;"
                                                                src="{{ asset('assets/front/images/Logo-ILF-Blanc2.png') }}" alt=""></a><br>
                                                                <h2 style="color:#fff;" class="">    
                                                                    Talent
                                                                </h2>
                                                            </div>
                                                            <div class="intro_layer" data-animation="fadeInRight">
                                                                <h2 class="text-uppercase intro_featured_word">
                                                                    {{ translations.home_page_animation_title_1|raw }}
                                                                </h2>
                                                            </div>

                                                        </div>
                                                        <!-- eof .intro_layers -->
                                                    </div>
                                                </a>
                                                <!-- eof .intro_layers_wrapper -->
                                            </div>
                                            <!-- eof .col-* -->
                                        </div>
                                        <!-- eof .row -->
                                    </div>
                                    <!-- eof .container -->
                                </li>
                                <li class="ds text-center">
                                    <img src="{{ asset('assets/front/images/quisomme.jpg') }}" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="intro_layers_wrapper">
                                                    <div class="intro_layers">
                                                        <div class="intro_layer" data-animation="pullUp">

                                                        </div>
                                                        <div class="intro_layer" data-animation="pullDown">
                                                            <h2 class="text-uppercase intro_featured_word">
                                                                Qui somme
                                                                <br> nous
                                                            </h2>
                                                        </div>
                                                        <div class="intro_layer" data-animation="fadeInRight">
                                                            <p>

                                                            </p>
                                                        </div>
                                                    </div>
                                                    <!-- eof .intro_layers -->
                                                </div>
                                                <!-- eof .intro_layers_wrapper -->
                                            </div>
                                            <!-- eof .col-* -->
                                        </div>
                                        <!-- eof .row -->
                                    </div>
                                    <!-- eof .container -->
                                </li>
                                <li class="ds text-center">
                                    <img src="{{ asset('assets/front/images/cvspop.jpg') }}" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="intro_layers_wrapper">
                                                    <div class="intro_layers">
                                                        <div class="intro_layer" data-animation="pullDown">

                                                        </div>
                                                        <div class="intro_layer" data-animation="pullUp">
                                                            <a href="#"><img style="width: 120px;  height: auto;"
                                                                src="{{ asset('assets/front/images/Logo-ILF-Blanc2.png') }}" alt=""></a><br>
                                                                <h2 class="text-uppercase intro_featured_word">

                                                                 Africa
                                                             </h2>
                                                         </div>
                                                     </div>
                                                     <!-- eof .intro_layers -->
                                                 </div>
                                                 <!-- eof .intro_layers_wrapper -->
                                             </div>
                                             <!-- eof .col-* -->
                                         </div>
                                         <!-- eof .row -->
                                     </div>
                                     <!-- eof .container -->
                                 </li>
                             </ul>
                             <ul class="flex-direction-nav">
                                <li class="flex-nav-prev">
                                    <a class="flex-prev" href="#">&gt;</a>
                                </li>
                                <li class="flex-nav-next">
                                    <a class="flex-next" href="#">&lt;</a>
                                </li>
                            </ul>
                        </div>
                        <!-- eof flexslider -->
                    </section>

                    <section class="ls about s-py-lg-150">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-7 animate" data-animation="slideInLeft">
                                    <div class="heading-about">
                                        <h2>
                                            ILF
                                        </h2>
                                        <h4>

                                        </h4><br>
                                        <h3>

                                        </h3><br>
                                        <p>
                                            <br>
                                            <br>
                                            ILF Consulting est un cabinet, 
                                            de conseil et d’expertise en infrastructure, 
                                            cloud et cybersécurité. <br>
                                            ILF Consulting Propose 
                                            des services de conseil, 
                                            en services managés, cloud, 
                                            infrastructures sécurisés,
                                            gouvernance, gestion des risques
                                            et conformité SSI, 
                                            des prestations d’audits,
                                            de  tests d’intrusion et de de sécurité 
                                            des systèmes industriels, ICS, IIOT.
                                        </p>
                                    </div>
                                    <div class="icons-list">
                                       <p>

                                       </p>    
                                       <ul class="list-bordered">
                                        <li class=" media media-body">
                                       <!--  <i class="teaser-icon fa fa-rocket"></i>
                                        <h4 class="title">
                                            <span>112</span> Companies We Helped
                                        </h4> -->
                                    </li>
                                    <!-- <li class="media media-body">
                                        <i class="teaser-icon fa fa-briefcase"></i>
                                        <h4 class="title">
                                            <span>12</span> Corporate Programs
                                        </h4> -->
                                    </li>
                                 <!--    <li class="media media-body">
                                        <i class="teaser-icon fa fa-graduation-cap"></i>
                                        <h4 class="title">
                                            <span>28</span> Trainings Courses
                                        </h4>
                                    </li>
                                    <li class="border-bottom-0 media media-body">
                                        <i class="teaser-icon fa fa-user"></i>
                                        <h4 class="title">
                                            <span>125</span> Strategic Partners
                                        </h4>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 animate" data-animation="slideInRight">
                        	<div class="heading-about">
                                <img height="442" class="h-50 d-inline-block" src="{{ asset('assets/front/images/servers.png') }}" alt="ilf.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="ls s-py-lg-130 s-pt-30 s-pb-30 pt-20 main_blog">
                <div class="container" style="padding-bottom: 50px !important;padding-top: 20px !important;">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="contact-header text-center">
                                <h5>
                                    Nos
                                </h5>
                                <h4>
                                    Ambitions
                                </h4>
                            </div>
                            <div class="owl-carousel pt-30" data-responsive-lg="3" data-responsive-md="2" data-responsive-sm="2" data-nav="false" data-dots="false">
                                <article class="box vertical-item text-center content-padding padding-small bordered post type-post status-publish format-standard has-post-thumbnail">
                                    <div class="item-media post-thumbnail">
                                        <a href="{{ path('front.tous.uni',{'languageUser' : languageUser }) }}">
                                            <img src="{{ asset('assets/front/images/tupr1.jpg') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="item-content ">
                                        <header class="blog-header ">
                                            <a href="{{ path('front.tous.uni',{'languageUser' : languageUser }) }}" rel="bookmark">
                                                <h4 style="margin-top: -17px;margin-bottom:-40px;">
                                                   <span style="font-family:'Old English Text MT'!important;
                                                   line-height: 2.4 !important;
                                                   font-size: 30px !important;
                                                   color: #ff9a57 !important;">t</span>ous <span style="font-family:'Old English Text MT'!important;
                                                   line-height: 2.4 !important;
                                                   font-size: 30px !important;
                                                   color: #0084c4 !important;">u</span>nis <span style="font-family:'Old English Text MT'
;
                                                   line-height: 2.4 !important;
                                                   font-size: 30px !important;
                                                   color: #22b14c !important;">p</span>our <span style="font-family:'Old English Text MT'
;
                                                   line-height: 2.4 !important;
                                                   font-size: 30px !important;
                                                   color: #DA70D6 !important;">r</span>éussir
                                               </h4>
                                           </a>
                                       </header>
                                       <div class="entry-content ls">
                                        <p>Depuis maintenant 5 ans (2015) l’association « Tous Unis Pour Réussir » propose des formations en France dans les milieux les plus défavorisés.</p>
                                    </div>
                                </div>
                            </article>
                            <!-- #post-## -->
                            <article class="box vertical-item text-center content-padding padding-small bordered post type-post status-publish format-standard has-post-thumbnail">
                                <div class="item-media post-thumbnail">
                                    <a href="#">
                                        <img src="{{ asset('assets/front/images/humanitaire-index.jpg') }}" alt="">
                                    </a>
                                </div>
                                <div class="item-content">
                                    <header class="blog-header ">
                                        <a href="#" rel="bookmark">
                                            <h4>
                                                Humanitaire
                                            </h4>
                                        </a>
                                    </header>
                                    <!-- .entry-header -->
                                    <div class="entry-content ls">
                                        <p>À chacun sont combats le nôtre et totalement assumé, le manque d'eau, de médicament, de nourriture, ne nous laisse plus sans mot</p>
                                    </div>
                                    <!-- .entry-content -->
                                </div>
                                <!-- .item-content -->
                            </article>
                            <!-- #post-## -->
                            <article class="box vertical-item text-center content-padding padding-small bordered post type-post status-publish format-standard has-post-thumbnail">
                                <div class="item-media post-thumbnail">
                                    <a href="#">
                                        <img src="{{ asset('assets/front/images/formation-index.jpg') }}" alt="">
                                    </a>
                                </div>
                                <!-- .post-thumbnail -->
                                <div class="item-content">
                                    <header class="blog-header ">
                                        <a href="#" rel="bookmark">
                                            <h4>
                                                La formation pour tous
                                            </h4>
                                        </a>
                                    </header>
                                    <!-- .entry-header -->
                                    <div class="entry-content ls">
                                        <p>La formation est  sûrement la meilleure façon pour trouver puis garder un job. ILF Consulting vous en facilite l’accès</p>
                                    </div>
                                </div>
                                <!-- .item-content -->
                            </article>
                            <!-- #post-## -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="icon-boxed teaser-box ls s-py-lg-130 c-my-lg-10 s-parallax">
            <div class="container">
                <div class="row">
                    {% for offer in offers %}
                        <div class="col-lg-4">
                            <a href="{{ path('front.postulate',{'offerId' : offer.id, 'languageUser' : languageUser }) }}">
                                <div class="icon-box text-center hero-bg box-shadow">
                                    <div class="teaser-icon icon-styled bg-maincolor3">
                                        {% if offer.img is defined and offer.img != null and offer.img != ''%}
                                        <img alt="" src="{{ asset('uploads/'~offer.img) }}" style="width: 50px;height: 50px;margin-top: 10px;">
                                    {% endif %}
                                </div>
                                <h3>
                                    {{ offer.title }}
                                </h3>
                                <p>
                                    {{ offer.description }}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {#                        <div class="col-lg-4">#}
                {#                            <div class="icon-box text-center hero-bg box-shadow">#}
                {#                                <div class="teaser-icon icon-styled bg-maincolor3">#}
                {#                                    <i class="fa fa-unlock-alt"></i>#}
                {#                                </div>#}
                {#                                <h3>#}
                {#                                    <a href="#">Candidat</a>#}
                {#                                </h3>#}
                {#                                <p>#}
                {#                                    Cloud-based services can offer our customers single tenant dedicated environments#}
                {#                                </p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="col-lg-4">#}
                {#                            <div class="icon-box text-center hero-bg box-shadow">#}
                {#                                <div class="teaser-icon icon-styled bg-maincolor3">#}
                {#                                    <i class="fa fa-cloud"></i>#}
                {#                                </div>#}
                {#                                <h3>#}
                {#                                    <a href="#">Recruteur</a>#}
                {#                                </h3>#}
                {#                                <p>#}
                {#                                    Working with customers making 100-40,000 hires per annum#}
                {#                                </p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <div class="col-lg-4">#}
                {#                            <div class="icon-box text-center hero-bg box-shadow">#}
                {#                                <div class="teaser-icon icon-styled bg-maincolor3">#}
                {#                                    <i class="fa fa-database"></i>#}
                {#                                </div>#}
                {#                                <h3>#}
                {#                                    <a href="#">Service</a>#}
                {#                                </h3>#}
                {#                                <p>#}
                {#                                    All of our customers' data is validated. We build accurate data banks for reporting#}
                {#                                </p>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
            </div>
        </section>

        <section class="s-py-lg-150 main_contact_form">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 contact-header heading text-center">
                        <h5>
                            CANDIDATURE
                        </h5>
                        <h4>
                           SPONTANÉE
                       </h4>
                   </div>
                   <div class="px-30 ds-form">
                    <form class="ds contact-form c-mb-20"  enctype="multipart/form-data" method="post"
                    action="{{ path('front.insert.spontanious', {'languageUser' : languageUser}) }}" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-c-mb-60 form-group has-placeholder"  >
                                <label for="name">Nom
                                    <span class="required">*</span>
                                </label>
                                <input type="text" aria-required="true" size="200" value="" name="first-name" id="first-name" class="form-control" placeholder="Nom">
                            </div>
                            <div class="col-c-mb-60 form-group has-placeholder">
                                <label for="text">Prénom
                                    <span class="required">*</span>
                                </label>
                                <input type="text" aria-required="true" size="200" value="" name="last-name" id="last-name" class="form-control" placeholder="Prénom">
                            </div>
                            <div class="col-c-mb-60 form-group has-placeholder">
                                <label for="text">Téléphone
                                    <span class="required">*</span>
                                </label>
                                <input type="text" aria-required="true" size="200" value="" name="phone" id="text" class="form-control" placeholder="Téléphone">
                            </div>
                            <div class="col-c-mb-60 form-group has-placeholder">
                                <label for="email">Email
                                    <span class="required">*</span>
                                </label>
                                <input type="email" aria-required="true" size="200" value="" name="your-email" id="email" class="form-control" placeholder="Email ">
                            </div>
                            <!--<div class="col-c-mb-60 form-group has-placeholder">
                                <label for="select">Poste Actuel </label>
                                <select class="country_to_state country_select form-control select2-hidden-accessible check"
                                name="post"
                                placeholder="Offre">
                                <option  class="form-control" value="0"> Offres </option>
                                {% for post in posts %}
                                    <option  class="form-control" value="{{ post.id }}">{{ post.label }}</option>
                                {% endfor %}
                            </select>
                        </div>-->
                                       <!--  <div class="col-c-mb-60 form-group has-placeholder">
                                            <label for="select">Skills </label>
                                            <select class="form-control"
                                                    id="selectSkill"
                                                    name="skillSpontanious[]"
                                                    placeholder="Skill" multiple="multiple">
                                                <option  class="form-control" value="0"> -- </option>
                                                {% for skill in skills %}
                                                <option  class="form-control" value="{{ skill.id }}">{{ skill.label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> -->
                                    <div class="col-c-mb-60 form-group">
                                        <input type="file" class="custom-file-input button"
                                        id="validatedCustomFilePostulate" accept=".pdf, .doc, .docx" name="candidate-file">
                                        <label class="custom-file-label" id="validatedCustomFilePostulateLabel" for="validatedCustomFilePostulate">Joindre CV</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-placeholder">
                                        <label for="message">Lettre de motivation</label>
                                        <textarea aria-required="true" rows="6" cols="40" name="comment" id="message" class="form-control" placeholder="Lettre de motivation"></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <button type="submit" id="contact_form_submit" name="contact_submit" class="button">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}

    {%block javascript%}
    <script src="{{ asset('assets/front/js/compressed.js') }}"></script>
    <script src="{{ asset('assets/front/js/main.js') }}"></script>
    <script src="{{ asset('assets/front/js/switcher.js') }}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script>

{% endblock %}