{% extends 'Front/base.twig' %}
{% block content %}
   <section class="page_title ilf cs s-parallax  gradientradial-background s-py-50" style="background-position: 50% 1px;">
    <div class="container">
        <div class="row">

            <div class="divider-50"></div>

            <div class="col-md-12 text-center">
                <h1 class="">PARTENAIRES</h1>
                <ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item">
                                </li>

                                <li class="breadcrumb-item active">
                                </li> -->
                            </ol>
                        </div>

                        <div class="divider-50"></div>

                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row" >
                        <div id="wrapper" class="fusion-wrapper">
                            <main id="main" class="clearfix width-100">
                                <div class="fusion-row" style="max-width:100%;">
                                    <section id="content" class="full-width">
                                        <div id="post-9757" class="page">
                                            <div class="container">

                                                <style type="text/css"></style>
                                                <div class="fusion-title title fusion-title-1 fusion-title-center fusion-title-text fusion-title-size-one" style="margin-top:30px;margin-bottom:10px;">
                                                    <div class="title-sep-container title-sep-container-left">
                                                        <div class="title-sep sep-single sep-solid" style="border-color:#55bce7;"></div>
                                                    </div>
                                                    <h1 class="title-heading-center" style="margin:0;font-size: 2.3rem;"><p style="text-align: center;"><span style="color: #55bce7;"><strong>Nos objectifs de développements sont ambitieux</strong> </span><br>

                                                    </p></h1>
                                                    <div class="title-sep-container title-sep-container-right">
                                                        <div class="title-sep sep-single sep-solid" style="border-color:#e0dede;"></div>
                                                    </div>
                                                </div>
                                                <div class="fusion-text"><h1 style="text-align: center; font-size: 18px; line-height: 25px;">
                                                    <span style="color: #22b14c;">Venez rejoindre notre réseau de partenaires, contactez-nous et voyons comment nous pouvons travailler ensemble.</span>
                                                </h1>
                                            </div>

                                            <div class="row" >
                                                <div class="col-sm" style="margin-top:20px;">
                                                 <a href="{{ path('front.talentlif',{'languageUser' : languageUser }) }}"><img src="{{ asset('assets/front/images/lifpart.jpg') }}" height="514" width="300"></a>
                                             </div>
                                             <div class="col-sm" style="margin-top:20px;">
                                                 <a href="{{ path('front.talentlif',{'languageUser' : languageUser }) }}"><img src="{{ asset('assets/front/images/leau.jpg') }}" height="514" width="300"></a>
                                             </div>
                                             <div class="col-sm" style="margin-top:20px;">
                                                 <a href="{{ path('front.talentlif',{'languageUser' : languageUser }) }}"><img src="{{ asset('assets/front/images/talentpart.jpg') }}" height="514" width="300"></a>
                                             </div>

                                         </div>

                                         <div class="fusion-fullwidth fullwidth-box fusion-builder-row-11 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
                                         style='background-color: rgba(255,255,255,0);background-position: center center;background-repeat: no-repeat;padding-top:0px;padding-right:50px;padding-bottom:50px;padding-left:50px;'>
                                         <div class="fusion-builder-row fusion-row ">
                                            <div data-animationType=slideInRight data-animationDuration=1.0
                                            data-animationOffset=100%
                                            class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1 fusion-builder-column-22 fusion-one-full fusion-column-first fusion-column-last fusion-animated 1_1"
                                            style='margin-top:0px;margin-bottom:0px;'>
                                            <div class="fusion-column-wrapper"
                                            style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                            data-bg-url="">
                                            <div class="fusion-clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fusion-fullwidth fullwidth-box fusion-builder-row-12 hundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-equal-height-columns"
                            style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:50px;padding-bottom:0px;padding-left:50px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
                            <div class="fusion-builder-row row ">
                                <div  class="col-sm">
                                <div class="fusion-column-wrapper"
                                style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                                data-bg-url="">
                                <div class="fusion-text"><h2 style="font-size: 22px;"><span
                                    style="color: #0e4182;">Devenez un Partenaire</span>
                                </h2>
                                <p style="font-size: 15px;">Nos programmes de partenariat
                                    proposent les
                                    outils, les ressources et le savoir-faire nécessaires
                                    pour que votre
                                    entreprise bénéficie pleinement de la valeur ajoutée que
                                    les
                                    solutions Ilf peuvent apporter à vos clients. En
                                    devenant un
                                    partenaire Ilf, vous donnez à vos clients une
                                    garantie de
                                    fiabilité et de qualité d&#8217;excellent niveau, ainsi
                                    que la
                                    promesse de les accompagner tout au long de leur
                                    croissance</p>
                                </div>
                                <div class="fusion-content-boxes content-boxes columns row fusion-columns-2 fusion-columns-total-2 fusion-content-boxes-1 content-boxes-icon-on-top content-left"
                                data-animationOffset="100%"
                                style="margin-top:0px;margin-bottom:60px;">
                                <style type="text/css">.fusion-content-boxes-1 .heading .content-box-heading {
                                    color: #0084c4;
                                }

                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .content-box-heading,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .heading-link .content-box-heading,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .content-box-heading,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .heading-link .content-box-heading,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::after,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::before,
                                .fusion-content-boxes-1 .fusion-content-box-hover .fusion-read-more:hover:after,
                                .fusion-content-boxes-1 .fusion-content-box-hover .fusion-read-more:hover:before,
                                .fusion-content-boxes-1 .fusion-content-box-hover .fusion-read-more:hover,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::after,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::before,
                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .icon .circle-no,
                                .fusion-content-boxes-1 .heading .heading-link:hover .content-box-heading {
                                    color: #0084c4;
                                }

                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .icon .circle-no {
                                    color: #0084c4 !important;
                                }

                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button {
                                    background: #f6f6f6;
                                    color: #000000;
                                }

                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button .fusion-button-text {
                                    color: #000000;
                                }

                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon > span {
                                    background-color: #0084c4 !important;
                                }

                                .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .icon > span {
                                    border-color: #0084c4 !important;
                                    }</style>
                                    <div class="fusion-column content-box-column content-box-column content-box-column-1 col-lg-6 col-md-6 col-sm-6 fusion-content-box-hover content-box-column-first-in-row">
                                        <div class="col content-box-wrapper content-wrapper-background link-area-link-icon icon-hover-animation-fade"
                                        style="background-color:#f6f6f6;"
                                        data-animationOffset="100%">
                                        <div class="heading heading-with-icon icon-left">
                                            <div class="icon"><i
                                                style="background-color:transparent;border-color:transparent;height:auto;width: 34px;line-height:normal;color:#0084c4;font-size:34px;"
                                                class="fontawesome-icon fa fa-cogs circle-no"></i>
                                            </div>
                                            <h2 class="content-box-heading"
                                            style="font-size:22px;line-height:27px;">
                                            Technologie</h2></div>
                                            <div class="fusion-clearfix"></div>
                                            <div class="content-container"
                                            style="color:#000000;">
                                            <p style="text-align: center;"><strong>Démarquez-vous
                                                de la
                                                concurrence</strong><br/>
                                                Nous utilisons les dernières technologies de
                                                pointe</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="fusion-column content-box-column content-box-column content-box-column-2 col-lg-6 col-md-6 col-sm-6 fusion-content-box-hover content-box-column-last content-box-column-last-in-row">
                                        <div class="col content-box-wrapper content-wrapper-background link-area-link-icon icon-hover-animation-fade"
                                        style="background-color:#f6f6f6;"
                                        data-animationOffset="100%">
                                        <div class="heading heading-with-icon icon-left">
                                            <div class="icon"><i
                                                style="background-color:transparent;border-color:transparent;height:auto;width: 34px;line-height:normal;color:#0084c4;font-size:34px;"
                                                class="fontawesome-icon fa fa-users circle-no"></i>
                                            </div>
                                            <h2 class="content-box-heading"
                                            style="font-size:22px;line-height:27px;">
                                            Expérience</h2>
                                        </div>
                                        <div class="fusion-clearfix"></div>
                                        <div class="content-container"
                                        style="color:#000000;">
                                        <p style="text-align: center;"><strong>Nous
                                            connaissons nos
                                            clients</strong><br/> Nous écoutons <em>nos</em>
                                            clients donc nous <em>les</em> comprenons
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">
                            .fusion-content-boxes-1 .fusion-content-box-hover .heading-link:hover .icon i.circle-yes,
                            .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box:hover .heading-link .icon i.circle-yes,
                            .fusion-content-boxes-1 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon i.circle-yes,
                            .fusion-content-boxes-1 .fusion-content-box-hover .link-area-box-hover .heading .icon i.circle-yes {
                                background-color: #0084c4 !important;
                                border-color: #0084c4 !important;
                                }</style>
                                <div class="fusion-clearfix"></div>
                            </div>
                            <div class="fusion-content-boxes content-boxes columns row fusion-columns-2 fusion-columns-total-2 fusion-content-boxes-2 content-boxes-icon-on-top content-left"
                            data-animationOffset="100%"
                            style="margin-top:0px;margin-bottom:60px;">
                            <style type="text/css">.fusion-content-boxes-2 .heading .content-box-heading {
                                color: #0084c4;
                            }

                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .content-box-heading,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .heading-link .content-box-heading,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .content-box-heading,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .heading-link .content-box-heading,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::after,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover.link-area-box .fusion-read-more::before,
                            .fusion-content-boxes-2 .fusion-content-box-hover .fusion-read-more:hover:after,
                            .fusion-content-boxes-2 .fusion-content-box-hover .fusion-read-more:hover:before,
                            .fusion-content-boxes-2 .fusion-content-box-hover .fusion-read-more:hover,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::after,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover.link-area-box .fusion-read-more::before,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .icon .circle-no,
                            .fusion-content-boxes-2 .heading .heading-link:hover .content-box-heading {
                                color: #0084c4;
                            }

                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .icon .circle-no {
                                color: #0084c4 !important;
                            }

                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button {
                                background: #f6f6f6;
                                color: #000000;
                            }

                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box.link-area-box-hover .fusion-content-box-button .fusion-button-text {
                                color: #000000;
                            }

                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon > span {
                                background-color: #0084c4 !important;
                            }

                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .icon > span {
                                border-color: #0084c4 !important;
                                }</style>
                                <div class="fusion-column content-box-column content-box-column content-box-column-1 col-lg-6 col-md-6 col-sm-6 fusion-content-box-hover content-box-column-first-in-row">
                                    <div class="col content-box-wrapper content-wrapper-background link-area-link-icon icon-hover-animation-fade"
                                    style="background-color:#f6f6f6;"
                                    data-animationOffset="100%">
                                    <div class="heading heading-with-icon icon-left">
                                        <div class="icon"><i
                                            style="background-color:transparent;border-color:transparent;height:auto;width: 34px;line-height:normal;color:#0084c4;font-size:34px;"
                                            class="fontawesome-icon fa fa-handshake-o circle-no"></i>
                                        </div>
                                        <h2 class="content-box-heading"
                                        style="font-size:22px;line-height:27px;">
                                        Relationnel</h2></div>
                                        <div class="fusion-clearfix"></div>
                                        <div class="content-container"
                                        style="color:#000000;">
                                        <p style="text-align: center;"><strong>Plus que
                                            de la
                                            technologie</strong><br/>
                                            Nous travaillons avec vous en tant que
                                            partenaire
                                            commercial</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="fusion-column content-box-column content-box-column content-box-column-2 col-lg-6 col-md-6 col-sm-6 fusion-content-box-hover content-box-column-last content-box-column-last-in-row">
                                    <div class="col content-box-wrapper content-wrapper-background link-area-link-icon icon-hover-animation-fade"
                                    style="background-color:#f6f6f6;"
                                    data-animationOffset="100%">
                                    <div class="heading heading-with-icon icon-left">
                                        <div class="icon"><i
                                            style="background-color:transparent;border-color:transparent;height:auto;width: 34px;line-height:normal;color:#0084c4;font-size:34px;"
                                            class="fontawesome-icon fa fa-arrows-alt circle-no"></i>
                                        </div>
                                        <h2 class="content-box-heading"
                                        style="font-size:22px;line-height:27px;">
                                        Modèle
                                        d'activité</h2></div>
                                        <div class="fusion-clearfix"></div>
                                        <div class="content-container"
                                        style="color:#000000;">
                                        <p style="text-align: center;"><strong>Options
                                            de paiement
                                            évolutives</strong><br/>
                                            Nous ne vous facturons que pour ce dont vous
                                            avez besoin
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <style type="text/css">
                            .fusion-content-boxes-2 .fusion-content-box-hover .heading-link:hover .icon i.circle-yes,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box:hover .heading-link .icon i.circle-yes,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon i.circle-yes,
                            .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .icon i.circle-yes {
                                background-color: #0084c4 !important;
                                border-color: #0084c4 !important;
                                }</style>
                                <div class="fusion-clearfix"></div>
                            </div>
                            <div class="fusion-clearfix"></div>

                        </div>
                    </div>
                    <div class="col-sm" >
                    <div class="fusion-column-wrapper"
                    style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                    data-bg-url="">
                    <div class="fusion-text"><h2 style="font-size: 22px;"><span
                        style="color: #0e4182;">Vous êtes un leader technologique souhaitant développer son activité en proposant de meilleures solutions à ses clients ? Dans ce cas, Ilf peut vous intéresser.</span>
                    </h2>
                    <p style="font-size: 15px;">Nous sommes votre fournisseur
                        unique pour le
                        développement de votre activité. Nous sommes fiers de
                        proposer des
                        services de qualité grâce à notre réseau Voix et Données
                        panaméricain. Ilf s&#8217;engage pour la réussite
                        de ses
                        partenaires. Par conséquent, nous garantissons la
                        formation et tout
                        le soutien nécessaire pour permettre à votre entreprise
                        de réussir.
                        Rejoignez-nous aujourd&#8217;hui !</p>
                    </div>
                    <div role="form" class="wpcf7" id="wpcf7-f15597-p9757-o1"
                    lang="en-US"
                    dir="ltr">
                    <div class="screen-reader-response"></div>
                    <form action="{{ path('front.partenaires') }}" method="post" class="wpcf7-form" novalidate="novalidate">
                        <p>
                            <span style="color:red;">
                                *
                            </span>
                            Information requise
                        </p>
                        <div id="ContactForm">
                            <p>Type de partenaire : <span
                                style="color:red;">*</span><br/>
                                <span class="wpcf7-form-control-wrap Service"><select
                                    name="Service"
                                    class="wpcf7-form-control wpcf7-select"
                                    aria-invalid="false"><option
                                    value="">---</option><option
                                    value="Partenaire de Canal">Humanitaire</option><option
                                    value="Agent">Agent</option><option
                                    value="Programme Revendeurs">Programme Revendeurs</option><option
                                    value="Inconnu">Inconnu</option></select></span>
                                </p>
                                <div id="left">
                                    <p>Nom : <span style="color:red;">*</span><br/>
                                        <input name="partenaire" type="hidden" value="partenaire">
                                        <span class="wpcf7-form-control-wrap your-name"><input
                                            type="text" name="your-name"
                                            value=""
                                            size="40"
                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                            aria-required="true"
                                            aria-invalid="false"/></span>
                                        </p>
                                        <p>Profession : <br/>
                                            <span class="wpcf7-form-control-wrap title"><input
                                                type="text" name="title"
                                                value="" size="40"
                                                class="wpcf7-form-control wpcf7-text"
                                                aria-invalid="false"/></span>
                                            </p>
                                            <p>Compagnie : <br/>
                                                <span class="wpcf7-form-control-wrap company"><input
                                                    type="text" name="company"
                                                    value=""
                                                    size="40"
                                                    class="wpcf7-form-control wpcf7-text"
                                                    aria-invalid="false"/></span>
                                                </p>
                                            </div>
                                            <div id="right">
                                                <p>Adresse : <br/>
                                                    <span class="wpcf7-form-control-wrap address"><input
                                                        type="text" name="address"
                                                        value=""
                                                        size="40"
                                                        class="wpcf7-form-control wpcf7-text"
                                                        aria-invalid="false"/></span>
                                                    </p>
                                                    <p>Courriel : <span
                                                        style="color:red;">*</span><br/>
                                                        <span class="wpcf7-form-control-wrap your-email"><input
                                                            type="email" name="your-email"
                                                            value=""
                                                            size="40"
                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                            aria-required="true"
                                                            aria-invalid="false"/></span>
                                                        </p>
                                                        <p>Numéro de téléphone :<br/>
                                                            <span class="wpcf7-form-control-wrap tel"><input
                                                                type="text" name="tel" value=""
                                                                size="40"
                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                aria-required="true"
                                                                aria-invalid="false"/></span>
                                                            </p>
                                                        </div>
                                                        <p>Votre message : <br/>
                                                            <span class="wpcf7-form-control-wrap your-message"><textarea
                                                                name="your-message" cols="40"
                                                                rows="10"
                                                                class="wpcf7-form-control wpcf7-textarea"
                                                                aria-invalid="false"></textarea></span>
                                                            </p>

                                                            <p></p>
                                                            <p></p>
                                                            <p><input type="submit" value="Envoyer"
                                                              class=""/>
                                                          </p>
                                                      </div>
                                                  </form>
                                              </div>
                                              <div class="fusion-clearfix"></div>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <span class="cp-load-after-post"></span></div>
                          </div>
                      </section>

                  </div>  <!-- fusion-row -->
              </main>  <!-- #main -->
          </div>
      </div>
  </div>
</section>
{% endblock %}