{% extends 'Front/base.twig' %}
{% block content %}
  <section class="page_title cs s-parallax s-overlay gradientradial-background s-py-50" style="background-position: 50% 1px;">
    <div class="container">
      <div class="row">

        <div class="divider-50"></div>

        <div class="col-md-12 text-center">
          <h1 class="">NOS OFFRES DE SERVICES</h1>
          <ol class="breadcrumb">
                                <!-- <li class="breadcrumb-item">
                                </li>

                                <li class="breadcrumb-item active">
                                </li> -->
                              </ol>
                            </div>

                            <div class="divider-50"></div>

                          </div>
                        </div>
                      </section>

                      <section>
                        <div class="fusion-column-wrapper"
                        style="padding-top:20px;padding-top:20px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                        data-bg-url="">
                        <style type="text/css"></style>
                        <div class="fusion-title title fusion-title-1 fusion-title-center fusion-title-text fusion-title-size-one"
                        style="margin-top:0px;margin-bottom:10px;">
                        <div class="title-sep-container title-sep-container-left">
                          <div class="title-sep sep-single sep-solid"
                          style="border-color:#55bce7;"></div>
                        </div>
                        <h1 class="title-heading-center" style="margin:0;font-size: 2.3rem;"><p
                          style="text-align: center;"><span
                          style="color: #55bce7;"><strong>Conseil et expertise technique en infrastructures</strong> </span><br>
                          <span style="color: #55bce7;"><strong>cloud et cybersécurité</strong></span>
                        </p></h1>
                        <div class="title-sep-container title-sep-container-right">
                          <div class="title-sep sep-single sep-solid"
                          style="border-color:#e0dede;"></div>
                        </div>
                      </div>
                      <div class="fusion-text"><h1
                        style="text-align: center; font-size: 18px; line-height: 25px;">
                        <span style="color: #22b14c;">Nos solutions d'infrastructure offre divers horizons à l'évolution de votre métier et de répondre aux besoins de votre entreprise.</span>
                      </h1>
                    </div>
                    <div class="fusion-clearfix"></div>

                  </div>

                </section>
                <section>

                 <div class="fusion-builder-row row"
                 style='background-color: #fff;background-position: center center;background-repeat: no-repeat;padding-top:20px;padding-right:30px;padding-bottom:30px;padding-left:30px;margin-bottom: 20px;'>


                 {# <div class="col col-md-offset-2 fusion-text " style="background-color:#e6f9fd;margin-left:10px;margin-right:10px;">
                   <div class="item"><p><a
                    href="
                    "><img class="aligncenter size-full " src="{{ asset('assets/front/images/reseauxicon.png') }}" sizes="(max-width: 61px) 100vw, 61px" height="61" width="61"></a>
                  </p>
                  <h2 style="color: #ff9a57;  text-align: center; font-size: 18px; line-height: 23px;">
                    <strong><a  style="color: #ff9a57;" href="">Reseaux</a></strong>
                  </h2>
                  <p style="color: #007bff; text-align: center;">Plateforme securisé<br/>
                    <a href="">En attente</a><br/>
                    <a href="">En attente<br/>
                    </a><a href="">En attente<br/></a>
                  </p>
                </div>
              </div> #}

              <div class="col col-md-offset-2 fusion-text" style="background-color:#e6f9fd;margin-left:10px;margin-right:10px;"><p><a
                href="
                "><img class="aligncenter size-full " src="{{ asset('assets/front/images/monitor.png') }}" sizes="(max-width: 61px) 100vw, 61px" height="61" width="61"></a>
              </p>
              <h2 style="color: #ff9a57;  text-align: center; font-size: 18px; line-height: 23px;">
                <strong><a  style="color: #ff9a57;" href="">Services Cloud</a></strong>
              </h2>
              <p style="color: #007bff; text-align: left;"> Plateforme sécurisé
                <br/>
                Monitoring <br/>
                Hébergement Web<br/>
                Infrastructure SaaS (Revit BIM)<br/>
                AWS service intégration<br/>

                Intégration de système et d’application<br/>

                Hébergement mail<br/>

                Backup<br/>
              </p>
            </div>



            <div class="col col-md-offset-2 fusion-text" style="background-color:#e6f9fd;margin-left:10px;margin-right:10px;"><p><a
              href="
              "><img class="aligncenter size-full " src="{{ asset('assets/front/images/mesure.png') }}" sizes="(max-width: 61px) 100vw, 61px" height="61" width="61"></a>
            </p>
            <h2 style="color: #ff9a57;  text-align: center; font-size: 18px; line-height: 23px;">
              <strong><a  style="color: #ff9a57;" href="">Expertise Technique
              </a></strong>
            </h2>
            <p style="color: #007bff; text-align: left;"> Expertise technique en cybersécurité
             <br/>
             Architecture sécurisée<br/>
             Expertise SOC/ CERT (IT & OT) <br/>
             Intégration de solutions de sécurité <br/>
             Sécurité dans le cloud<br/>
           </p>
         </div>


         <div class="col col-md-offset-2 fusion-text " style="background-color:#e6f9fd;margin-left:10px;margin-right:10px;"> <p><a
          href="
          "><img class="aligncenter size-full " src="{{ asset('assets/front/images/cyber_security-512.png') }}" sizes="(max-width: 61px) 100vw, 61px" height="61" width="61"></a>
        </p>
        <h2 style="color: #ff9a57;  text-align: center; font-size: 18px; line-height: 23px;">
          <strong><a  style="color: #ff9a57;" href="">Conseil en Cybersécurité</a></strong>
        </h2>
        <p style="color: #007bff; text-align: left;">Gouvernance SI<br/>
          Analyse de risques & conformité SI<br/>
          Stratégie et pilotage SSI<br/>
          Assistance RSSI<br/>
          Audit fonctionnel, physique et technique des SI<br/>
          Audit et test d'intrusion SI<br/>
          Cybersécurité des systèmes industriels, OT, IIOT, ICS, SCADA<br/>
        </p>

      </div> 



      <div class="col col-md-offset-2 fusion-text" style="background-color:#e6f9fd;margin-left:10px;margin-right:10px;"><p><a
        href="
        "><img class="aligncenter size-full " src="{{ asset('assets/front/images/expertise.png') }}" sizes="(max-width: 61px) 100vw, 61px" height="61" width="61"></a>
      </p>
      <h2 style="color: #ff9a57;  text-align: center; font-size: 18px; line-height: 23px;">
        <strong><a  style="color: #ff9a57;" href="">Sur Mesure</a></strong>
      </h2>
      <p style="color: #007bff; text-align: left;"> Création Web & Application<br/>
        Formation<br/>
        Devops<br/>
      </p>
    </div>

  </div>

</section>

<section>


 <section class="service_area p_120">
  <div class="container">
    <div class="main_title ilf white">
      <div class="contact-header text-center">
        <h5>
          Nos
        </h5>
        <h4>
          Alliances
        </h4>
      </div>
      <p>Nous travaillons en partenariat avec les meilleurs fournisseurs sur le marché pour vous procurer la solution offrant le meilleur rapport qualité-prix.</p>
    </div>
    <div class="row service_inner">
      <div class="col-lg-3 col-md-4">
        <div class="service_item">
          <h4><img class=" size-full " style="display: block;
           margin: 10px auto 30px auto;" src="{{ asset('assets/front/images/amazon3.png') }}" sizes="(max-width: 61px) 100vw, 61px" height="100" width="130"></h4>
           <p> </p>
         </div>
       </div>
       <div class="col-lg-3 col-md-4">
        <div class="service_item">
          <h4><img class=" size-full " style="display: block;
           margin: -25px auto 30px auto;" src="{{ asset('assets/front/images/azure.png') }}"  height="100" width="120"></h4>
           <p></p>
         </div>
       </div>
       <div class="col-lg-3 col-md-4">
        <div class="service_item">
          <h4><img class=" size-full " style="display: block;
           margin: 10px auto 10px auto;" src="{{ asset('assets/front/images/isaca.png') }}"  height="100" width="160"></h4>
           <p></p>
         </div>
       </div>
       <div class="col-lg-3 col-md-4">
        <div class="service_item">
         <h4><img class=" size-full "  style="display: block;
          margin: 10px auto 30px auto;" src="{{ asset('assets/front/images/google-finale.png') }}"  height="100" width="130"></h4>
          <p></p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="service_item">
          <h4><img class="size-full " style="display: block;
            margin: 7px auto 30px auto;" src="{{ asset('assets/front/images/pecb.png') }}"  height="100" width="90"></h4>
            <p></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="service_item">
           <h4><img class="size-full "  style="display: block;
             margin: 0px auto 0px auto;" src="{{ asset('assets/front/images/asis.png') }}"  height="100" width="100"></h4>
             <p></p>
           </div>

         </div>
         <div class="col-lg-3 col-md-3">
          <div class="service_item">
            <h4><img class="size-full " style="display: block;
              margin: 0px auto 30px auto;" src="{{ asset('assets/front/images/fortinet-g.png') }}"  height="100" width="200"></h4>
              <p></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="service_item">
             <h4><img class="size-full "  style="display: block;
               margin: -15px auto 0px auto;" src="{{ asset('assets/front/images/ansi.png') }}"  height="100" width="150"></h4>
               <p></p>
             </div>

           </div>
           <div class="col-lg-3 col-md-3">
            <div class="service_item">
              <h4><img class="size-full " style="display: block;
                margin: 7px auto 30px auto;" src="{{ asset('assets/front/images/watchguard.png') }}"  height="100" width="160"></h4>
                <p></p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3">
              <div class="service_item">
               <h4><img class="size-full "  style="display: block;
                 margin: 0px auto 0px auto;" src="{{ asset('assets/front/images/cisico.png') }}"  height="100" width="120"></h4>
                 <p></p>
               </div>

             </div>
             <div class="col-lg-3 col-md-3">
              <div class="service_item">
                <h4><img class="size-full " style="display: block;
                  margin: -10px auto 30px auto;" src="{{ asset('assets/front/images/mcafe-g.png') }}"  height="100" width="170"></h4>
                  <p></p>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <div class="service_item">
                 <h4><img class="size-full " style="display: block;
                  margin: 10px auto 30px auto;" src="{{ asset('assets/front/images/cnil.png') }}"  height="100" width="170"></h4>
                  <p></p>
                </div>

              </div>
            </div>
          </div>
        </section>

        <div class="fusion-column-wrapper"
        style="padding-top:20px;padding-top:20px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
        data-bg-url="">
        <style type="text/css"></style>
        <div class="fusion-title title fusion-title-1 fusion-title-center fusion-title-text fusion-title-size-one"
        style="margin-top:0px;margin-bottom:10px;">
        <div class="title-sep-container title-sep-container-left">
          <div class="title-sep sep-single sep-solid"
          style="border-color:#55bce7;"></div>
        </div>
        <h1 class="title-heading-center" style="margin:0;"><p
          style="text-align: center;"><span
          style="color: #55bce7;"><strong style="font-family: "Fzshuti";">N</strong><strong>os principes & engagements</strong></span>
        </p></h1>
        <div class="title-sep-container title-sep-container-right">
          <div class="title-sep sep-single sep-solid"
          style="border-color:#e0dede;"></div>
        </div>
      </div>
      <div class="fusion-text"><h1
        style="text-align: center; font-size: 18px; line-height: 25px;">
        <span style="color: #22b14c;">Pourquoi nous faire confiance ?</span>
      </h1>
    </div>
    <div class="fusion-clearfix"></div>

  </div>
  <section class="ls s-pt-50 s-pb-75 c-gutter-60 c-mb-lg-50 service-item">
    <div class="container">
      <div class="row">



        <div class="col-md-4 col-sm-6">

          <div class="icon-box text-center">
            <div class="icon-styled fs-56">
              <i class="color-main2 fa  fa-globe"></i>
            </div>

            <h4>
              <a href="javascript:void(0);">Une présence 
                <br> internationale</a>
              </h4>

              <p>
              </p>


            </div>
          </div>
          <!-- .col-* -->

          <div class="col-md-4 col-sm-6">

            <div class="icon-box text-center">
              <div class="icon-styled fs-56">
                <i class="color-main2 fa fa-building-o"></i>
              </div>

              <h4>
                <a href="javascript:void(0);">Votre partenaire 
                  <br>technologique</a>
                </h4>

                <p>
                </p>


              </div>
            </div>
            <!-- .col-* -->
            <div class="col-md-4 col-sm-6">

              <div class="icon-box text-center">
                <div class="icon-styled fs-56">
                  <i class="color-main2 fa fa-briefcase"></i>
                </div>

                <h4>
                  <a href="javascript:void(0);">Une expérience 
                    <br>client différenciée</a>
                  </h4>

                  <p>
                  </p>


                </div>
              </div>
              <!-- .col-* -->
              <div class="col-md-4 col-sm-6">

                <div class="icon-box text-center">
                  <div class="icon-styled fs-56">
                    <i class="color-main2 fa fa-money"></i>
                  </div>

                  <h4>
                    <a href="javascript:void(0);">Compétitivité 
                      <br></a>
                    </h4>

                    <p>
                    </p>


                  </div>
                </div>
                <!-- .col-* -->
                <div class="col-md-4 col-sm-6">

                  <div class="icon-box text-center">
                    <div class="icon-styled fs-56">
                      <i class="color-main2 fa fa-handshake-o"></i>
                    </div>

                    <h4>
                      <a href="javascript:void(0);">Des solutions financières 

                        <br>flexibles</a>
                      </h4>

                      <p>
                      </p>


                    </div>
                  </div>
                  <!-- .col-* -->
                  <div class="col-md-4 col-sm-6">

                    <div class="icon-box text-center">
                      <div class="icon-styled fs-56">
                        <i class="color-main2 fa fa-bank"></i>
                      </div>

                      <h4>
                        <a href="javascript:void(0);">Des experts à 
                          <br>vos côtés</a>
                        </h4>

                        <p>
                        </p>


                      </div>
                    </div> 
                    <!-- .col-* -->

                    <div class="d-none d-lg-block divider-20"></div>

                  </div>

                </div>
              </section>

              <div class="fusion-fullwidth fullwidth-box fusion-builder-row-8 hundred-percent-fullwidth non-hundred-percent-height-scrolling"
              style='background-color: rgba(255,255,255,0);background-position: left top;background-repeat: no-repeat;padding-top:0px;padding-right:50px;padding-bottom:0px;padding-left:50px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;'>
              <div class="fusion-builder-row row ">
                <div class="col-sm">
                <div class="fusion-column-wrapper"
                style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
                data-bg-url="">
                <div class="fusion-text"><h2 style="font-size: 23px;"><span
                  style="color: #0084c4;">VIDEO CORPORATIVE</span>
                </h2>
                <p style="font-size: 15px;">Lorsque vous travaillez en
                  partenariat avec
                  ILF, vous pouvez vous concentrer sur votre
                  activité
                  principale, tout en gérant l&#8217;ensemble de vos
                  projets (Internet
                  / Data, Cloud Service, Mobilité, Téléphonie, Matériel,
                  Services à
                  valeur ajoutée et Solutions professionnelles).</p>
                </div>
                <div class="fusion-clearfix"></div>

              </div>
            </div>
            <div class="col-sm">
            <div class="fusion-column-wrapper"
            style="padding: 20px 0px 20px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;"
            data-bg-url="">
            <div class="fusion-text"><h2 style="font-size: 25px;"><span
              style="color: #0084c4;">CONTACTEZ-NOUS</span>
            </h2>
            <p style="font-size: 15px;">Des questions? Nous aimons
              partager notre
              expérience et relever de nouveaux défis, alors
              contactez-nous! Nous
              sommes heureux de répondre aux questions et de montrer
              comment
              Ilf se rapporte à votre entreprise ou institution.
              Notre
              personnel amical évaluera comment nous pouvons mieux
              vous aider.</p>
            </div>
            <div role="form" class="wpcf7" id="wpcf7-f14269-p9661-o1"
            lang="en-US"
            dir="ltr">
            <div class="screen-reader-response"></div>
            <form action="{{ path('front.services') }}" method="post" class="wpcf7-form" novalidate="novalidate">
              <p>
                <span style="color:red;">
                  *
                </span>
                Information requise
              </p>
              <div id="ContactForm">
                <div id="left">
                  <p>Nom : <span style="color:red;">*</span><br/>
                    <span class="wpcf7-form-control-wrap your-name"><input
                      type="text" name="name"
                      value=""
                      size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                      aria-required="true"
                      aria-invalid="false"/></span>
                    </p>
                    <p>Courriel : <span
                      style="color:red;">*</span><br/>
                      <span class="wpcf7-form-control-wrap email"><input
                        type="email" name="email"
                        value="" size="40"
                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                        aria-required="true"
                        aria-invalid="false"/></span>
                      </p>
                    </div>
                    <div id="right">
                      <p>Compagnie : <span style="color:red;">*</span><br/>
                        <span class="wpcf7-form-control-wrap company"><input
                          type="text" name="company"
                          value=""
                          size="40"
                          class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                          aria-required="true"
                          aria-invalid="false"/></span>
                        </p>
                        <p>Numéro de téléphone :<br/>
                          <span class="wpcf7-form-control-wrap tel"><input
                            type="text" name="tel" value=""
                            size="40"
                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                            aria-required="true"
                            aria-invalid="false"/></span>
                          </p>
                        </div>
                        <p>Comment pouvons-nous vous aider? <br/>
                          <span class="wpcf7-form-control-wrap your-message"><textarea
                            name="your-message" cols="40"
                            rows="10"
                            class="wpcf7-form-control wpcf7-textarea"
                            aria-invalid="false"></textarea></span>
                          </p>
                          <p></p>
                          <p>Produit(s) d'intérêt : <span
                            style="color:red;">*</span><br/>
                            <span class="wpcf7-form-control-wrap your-services"><span
                              class="wpcf7-form-control wpcf7-checkbox wpcf7-validates-as-required"><span
                              class="wpcf7-list-item first"><label><input
                              type="checkbox"
                              name="serviceCloud"
                              value="Liaisons SIP"/><span
                              class="wpcf7-list-item-label">Services Cloud</span></label></span><br><span
                              class="wpcf7-list-item"><label><input
                              type="checkbox"
                              name="expertiseTech"
                              value="expertiseTech"/><span
                              class="wpcf7-list-item-label">Expertise Technique
                            </span></label></span><br><span
                            class="wpcf7-list-item"><label><input
                            type="checkbox"
                            name="conseilCyber"
                            value="conseilCyber"/><span
                            class="wpcf7-list-item-label">Conseil en Cybersécurité</span></label></span><br><span
                            class="wpcf7-list-item"><label><input
                            type="checkbox"
                            name="surMesure"
                            value="surMesure"/><span
                            class="wpcf7-list-item-label">Sur Mesure</span></label></span>
              </p>
              <p></p>

              <p><input type="submit" value="Envoyer"
               style="color:#454545;"class="wpcf7-form-control wpcf7-submit"/>
             </p>
           </div>

         </form>
       </div>
       <div class="fusion-clearfix"></div>
     </div>
   </div>
 </div>
</div>





</section>


{% endblock %}