{% extends 'Back/base/base.twig' %}
{% block namePageBreadcrumb %} Index {% endblock %}
{% block activeIndex %} active {% endblock %}
{% block menuOpenDash %} menu-open {% endblock %}
{% block menuOpenDashActiv %} active {% endblock %}
{% block section %}
    <!-- Main content -->
    <section class="content">
        <div class="card" id="project-add">
            <section class="content-header">
                <div class="container-fluid">
                    <!-- Small Box (Stat card) -->
                    <h5 class="mb-2 mt-4">Small Box</h5>
                    <div class="row">
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3>{{ spontaneousCandidate }}</h3>

                                    <p>Spontaneous Candidates</p>
                                </div>
                                <div class="icon">
{#                                    <i class="fas fa-shopping-cart"></i>#}
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                <a href="{{ path('show.spontaneous.candidate') }}" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3>{{ offers }}{#<sup style="font-size: 20px">%</sup>#}</h3>

                                    <p>Offers</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                                <a href="{{ path('show.offer') }}" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3>{{ candidate }}</h3>

                                    <p>Candidates For Offer</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                <a href="{{ path('show.candidate') }}" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- ./col -->
                        <div class="col-lg-3 col-6">
                            <!-- small card -->
                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3>{{ posts }}</h3>
                                    <p>Posts</p>
                                </div>
                                <div class="icon">
                                    <i class="fas fa-chart-pie"></i>
                                </div>
                                <a href="{{ path('show.post') }}" class="small-box-footer">
                                    More info <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}