{% extends 'Back/base/base.twig' %}
{% block namePageBreadcrumb %} Spontaneous candidate {% endblock %}
{% block activeSpontaneousCandidate %} active {% endblock %}
{% block menuOpenCandidate %} menu-open {% endblock %}
{% block menuOpenCandidateActiv %} active  {% endblock %}
{% block section %}
    <!-- Main content -->
    <section class="content">
        <div class="card" id="project-add">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>SPONTANEOUS CANDIDATE</h1>
                        </div>
                        <div class="col-sm-12">
                            {# <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Project Add</li>
                            </ol> #}
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            List spontaneous candidate
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Candidate ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Post</th>
                                <th>CV</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for candidate in spontaneousCandidates %}
                                <tr>
                                    <td>
                                        {{ candidate.id }}
                                    </td>
                                    <td>
                                        {{ candidate.firstName }}
                                    </td>
                                    <td>
                                        {{ candidate.lastName }}
                                    </td>
                                    <td>
                                        {{ candidate.post.label }}
                                    </td>
                                    <td>
                                        {% if candidate.file is defined and candidate.file != '' %}
                                            <a class="btn btn-info" href="{{ path('back.download',{'fileName' : candidate.file })}}"><i class="fas fa-download"></i></a>
                                        {% endif %}
                                    </td>
                                    <td class="list-of-floating-elements" style="width: 25%;">
                                        <button type="button" class="btn btn-default" data-toggle="modal"
                                                data-target="#modal-default-{{ candidate.id }}">
                                            <i class="fa fa-list"></i>
                                        </button>
                                        <div class="modal fade" id="modal-default-{{ candidate.id }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Information Candidate : {{ candidate.id }}</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        id : {{ candidate.id }}
{#                                                        {% if candidate.getSkills().0.label is defined and candidate.getSkills()|length > 0 %}#}
{#                                                            Skills: <br>#}
{#                                                            {% for candidateSkills in  candidate.getSkills() %}#}
{#                                                                {{ candidateSkills.label }},#}
{#                                                            {% endfor %}#}
{#                                                        {% endif %}#}
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
{#                                                        <input type="submit"#}
{#                                                               class="btn btn-primary update-skill-class"#}
{#                                                               value="Save changes">#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            {# <tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                            </tfoot> #}
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}