{% extends 'Back/base/base.twig' %}
{% block namePageBreadcrumb %} Skill {% endblock %}
{% block section%}
<!-- Main content -->
<section class="content">
    <div class="card" id="project-add">
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>SKILL</h1>
        </div>
        <div class="col-sm-12">
        {# <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Project Add</li>
        </ol> #}
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
<div class="row">
<div class="col-md-12">
    <div class="card card-primary collapsed-card">
        <div class="card-header">
            <h3 class="card-title">
            Add skill
            </h3>
            <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-plus"></i></button>
            </div>
        </div>
        <div class="card-body hide">
            <form method="post" action="{{ path('insert.skill') }}">
                <div class="form-group">
                    <label for="skillLabel">skill label</label>
                    <input type="text" id="skillLabel" name="skillLabel" class="form-control">
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="#" id="bt-cancel" class="btn btn-secondary">Cancel</a>
                        <input type="submit" value="Add" class="btn btn-success float-right">
                    </div>
                </div>
            <form>
        </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

</div>
</section>
    </div>
    <div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                List skill
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Skill ID</th>
                <th>label</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for skill in skills %}
                <tr>
                    <td>
                        {{ skill.id }}
                    </td>
                    <td>
                        {{ skill.label }}
                    </td>
                    <td>
                        {{ skill.isEnabled() ?'enable':'disable' }}
                    </td>
                    <td class="list-of-floating-elements" style="width: 25%;">
                        <a  class="btn btn-info" href="{{ path('enable.skill',{'idSkill' : skill.id }) }}"><i class="fas fa-check"></i></a>
                        <a  class="btn btn-danger" href="{{ path('disable.skill',{'idSkill' : skill.id }) }}"><i class="fa fa-trash"></i></a>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default-{{ skill.id }}">
                            <i class="fa fa-pen"></i>
                        </button>
                        <div class="modal fade" id="modal-default-{{ skill.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h4 class="modal-title">Update Skill : {{ skill.id }}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <form method="post" action="{{ path('update.skill') }}">
                                        <div class="modal-body">
                                                <input type="text" name="skill-label" value="{{ skill.label }}" >
                                                <input type="hidden" name="skill-id" value="{{ skill.id }}" >
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-primary" value="Save changes">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            {# <tfoot>
            <tr>
                <th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>
            </tr>
            </tfoot> #}
            </table>
        </div>
        <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{% endblock %}